mixin paginationPages(page, pages, tagOriginal)
  .pagination
    .pagination__prev
      if page > 1
        a(href=`/tags/${tagOriginal}/page/${page - 1}`) Назад
    .pagination__text
      p Страница #{page} из #{pages}
    .pagination__next
      if page < pages
        a(href=`/tags/${tagOriginal}/page/${parseFloat(page) + 1}`) Вперед
