mixin reviewForm(company)
  form.reviewer(action=`/reviews/${company._id}` method="POST")
    textarea(name="text", placeholder="Оставьте свой отзыв и поставьте оценку. Люди будут вам благодарны!...")
    .reviewer__meta
      .reviewer__stars
        each num in [5,4,3,2,1]
          input(type="radio" required id=`star${num}` name="rating" value=num)
          label(for=`star${num}`) #{num} Stars
      input.button(type="submit" value="Добавить Обзор")
